* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 45px;
  width: 100%;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/banner/banner.png.webp);
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 1;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.3) 100%);
  z-index: -1;
}
.header .h-container {
  width: 73%;
  align-items: center;
}
@media (max-width: 1600px) {
  .header .h-container {
    width: 80%;
  }
}
@media (max-width: 1200px) {
  .header .h-container {
    width: 90%;
  }
}
@media (max-width: 1570px) {
  .header .h-container {
    width: 85%;
  }
}
@media (max-width: 1024px) {
  .header .h-container {
    width: 96%;
  }
}
.header .h-container .header-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .header .h-container .header-info {
    display: block;
    flex-direction: column;
  }
}
.header .h-container .header-info .logo img {
  height: 55px;
}
.header .h-container .header-info .navbar {
  display: flex;
}
@media (max-width: 1200px) {
  .header .h-container .header-info .navbar {
    display: none;
  }
}
.header .h-container .header-info .navbar .navlist {
  margin-bottom: 0;
  gap: 50px;
  display: flex;
}
.header .h-container .header-info .navbar .navlist .navitem {
  display: flex;
  position: relative;
  display: inline-block;
}
.header .h-container .header-info .navbar .navlist .navitem a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 0;
  color: white;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  padding: 30px 0 30px 0;
  transition: 0.5s;
}
.header .h-container .header-info .navbar .navlist .navitem a:hover {
  color: #FF4533;
}
@media (max-width: 1600px) {
  .header .h-container .header-info .navbar .navlist .navitem a {
    font-size: 20px;
  }
}
@media (max-width: 1575px) {
  .header .h-container .header-info .navbar .navlist .navitem a {
    font-size: 18px;
  }
}
@media (max-width: 1320px) {
  .header .h-container .header-info .navbar .navlist .navitem a {
    font-size: 15px;
  }
}
.header .h-container .header-info .navbar .navlist .navitem .dropdown-menu {
  border-radius: 0;
  display: none;
  position: absolute;
  top: 150%;
  left: 0;
  background-color: #fff;
}
.header .h-container .header-info .navbar .navlist .navitem .dropdown-menu li {
  padding: 15px 0;
}
.header .h-container .header-info .navbar .navlist .navitem .dropdown-menu li a {
  color: black;
  margin-right: 130px;
  padding: 10px 15px;
  font-size: 20px;
}
.header .h-container .header-info .navbar .navlist .navitem:hover .dropdown-menu {
  animation: slide-up 0.5s forwards;
  display: block;
}
.header .h-container .header-info .header-button {
  justify-content: flex-end;
  display: flex;
}
@media (max-width: 1200px) {
  .header .h-container .header-info .header-button {
    display: none;
  }
}
.header .h-container .header-info .header-button .button {
  background-color: #FF4533;
  padding: 18px 60px;
  margin-bottom: 0;
  transition: 0.5s;
  border: 1px solid #FF4533;
}
@media (max-width: 1467px) {
  .header .h-container .header-info .header-button .button {
    padding: 18px 40px;
  }
}
@media (max-width: 1300px) {
  .header .h-container .header-info .header-button .button {
    padding: 15px 26px;
  }
}
.header .h-container .header-info .header-button .button:hover {
  background-color: transparent;
  border: 1px solid #FF4533;
}
.header .h-container .header-info .header-button .button a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  font-family: "Anton", sans-serif;
  text-transform: capitalize;
  color: white;
}
.header .h-container .header-info .mobil-nav {
  width: 100%;
  background-color: rgb(76, 76, 76);
  display: none;
  justify-content: flex-end;
  padding: 15px 15px;
}
@media (max-width: 1200px) {
  .header .h-container .header-info .mobil-nav {
    display: flex;
  }
}
@media (max-width: 350px) {
  .header .h-container .header-info .mobil-nav {
    padding: 5px 15px;
  }
}
.header .h-container .header-info .mobil-nav .icon {
  align-items: center;
  gap: 10px;
  display: flex;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(34, 34, 34);
}
@media (max-width: 350px) {
  .header .h-container .header-info .mobil-nav .icon {
    padding: 3px 15px;
  }
}
.header .h-container .header-info .mobil-nav .icon .hamburger-icon {
  cursor: pointer;
}
.header .h-container .header-info .mobil-nav .icon .hamburger-icon i {
  font-size: 25px;
  color: white;
}
.header .h-container .header-info .mobil-nav .icon span {
  font-size: 20px;
  font-family: "Mulish", sans-serif;
  color: white;
}

@keyframes slide-up {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.slider {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
.slider .s-container {
  width: 73%;
  position: relative;
}
@media (max-width: 1600px) {
  .slider .s-container {
    width: 80%;
  }
}
@media (max-width: 1200px) {
  .slider .s-container {
    width: 90%;
  }
}
@media (max-width: 1570px) {
  .slider .s-container {
    width: 85%;
  }
}
@media (max-width: 1024px) {
  .slider .s-container {
    width: 96%;
  }
}
.slider .s-container .slider-info {
  width: 100%;
  position: relative;
  top: -140px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 930px) {
  .slider .s-container .slider-info {
    height: 150px;
    top: -180px;
  }
}
@media (max-width: 764px) {
  .slider .s-container .slider-info {
    top: -200px;
  }
}
.slider .s-container .slider-info .img-box {
  width: 100%;
}
.slider .s-container .slider-info .img-box .img-box-left {
  float: left;
  padding-top: 120px;
}
.slider .s-container .slider-info .img-box .img-box-left img {
  height: 240px;
}
@media (max-width: 930px) {
  .slider .s-container .slider-info .img-box .img-box-left img {
    height: 230px;
  }
}
@media (max-width: 835px) {
  .slider .s-container .slider-info .img-box .img-box-left img {
    height: 200px;
  }
}
@media (max-width: 764px) {
  .slider .s-container .slider-info .img-box .img-box-left img {
    height: 150px;
  }
}
@media (max-width: 500px) {
  .slider .s-container .slider-info .img-box .img-box-left img {
    height: 100px;
  }
}
@media (max-width: 350px) {
  .slider .s-container .slider-info .img-box .img-box-left img {
    height: 60px;
  }
}
.slider .s-container .slider-info .img-box .img-box-right {
  float: right;
  padding-bottom: 80px;
}
.slider .s-container .slider-info .img-box .img-box-right img {
  height: 320px;
}
@media (max-width: 930px) {
  .slider .s-container .slider-info .img-box .img-box-right img {
    height: 280px;
  }
}
@media (max-width: 835px) {
  .slider .s-container .slider-info .img-box .img-box-right img {
    height: 250px;
  }
}
@media (max-width: 764px) {
  .slider .s-container .slider-info .img-box .img-box-right img {
    height: 180px;
  }
}
@media (max-width: 500px) {
  .slider .s-container .slider-info .img-box .img-box-right img {
    height: 150px;
  }
}
@media (max-width: 350px) {
  .slider .s-container .slider-info .img-box .img-box-right img {
    height: 100px;
  }
}
.slider .s-container .slider-info .slider-text {
  position: absolute;
  text-align: center;
  text-align: center;
}
.slider .s-container .slider-info .slider-text h3 {
  font-size: 150px;
  font-weight: 400;
  margin-top: 55px;
  margin-bottom: 40px;
  font-family: "Monoton", sans-serif;
  color: white;
}
@media (max-width: 1600px) {
  .slider .s-container .slider-info .slider-text h3 {
    font-size: 140px;
  }
}
@media (max-width: 1430px) {
  .slider .s-container .slider-info .slider-text h3 {
    font-size: 135px;
  }
}
@media (max-width: 1380px) {
  .slider .s-container .slider-info .slider-text h3 {
    font-size: 130px;
  }
}
@media (max-width: 1330px) {
  .slider .s-container .slider-info .slider-text h3 {
    font-size: 110px;
  }
}
@media (max-width: 1130px) {
  .slider .s-container .slider-info .slider-text h3 {
    font-size: 90px;
  }
}
@media (max-width: 930px) {
  .slider .s-container .slider-info .slider-text h3 {
    font-size: 80px;
  }
}
@media (max-width: 835px) {
  .slider .s-container .slider-info .slider-text h3 {
    font-size: 60px;
  }
}
@media (max-width: 764px) {
  .slider .s-container .slider-info .slider-text h3 {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .slider .s-container .slider-info .slider-text h3 {
    font-size: 30px;
  }
}
@media (max-width: 350px) {
  .slider .s-container .slider-info .slider-text h3 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 27px;
  }
}
.slider .s-container .slider-info .slider-text .first-text {
  color: #FF4533;
}
.slider .s-container .slider-info .slider-text p {
  color: white;
  font-size: 35px;
  font-family: "Anton", sans-serif;
}
@media (max-width: 764px) {
  .slider .s-container .slider-info .slider-text p {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .slider .s-container .slider-info .slider-text p {
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .slider .s-container .slider-info .slider-text p {
    font-size: 10px;
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-weight: 400;
}

.performer {
  margin-top: -150px;
  width: 100%;
  background-color: black;
  justify-content: center;
  align-items: center;
  display: flex;
}
@media (max-width: 1220px) {
  .performer {
    margin-top: -190px;
  }
}
.performer .p-container {
  width: 73%;
}
@media (max-width: 1600px) {
  .performer .p-container {
    width: 80%;
  }
}
@media (max-width: 1200px) {
  .performer .p-container {
    width: 90%;
  }
}
@media (max-width: 1570px) {
  .performer .p-container {
    width: 85%;
  }
}
@media (max-width: 1024px) {
  .performer .p-container {
    width: 96%;
  }
}
.performer .p-container h3 {
  padding-bottom: 7px;
  font-size: 100px;
  font-weight: 400;
  font-family: "Anton", sans-serif;
}
@media (max-width: 1200px) {
  .performer .p-container h3 {
    font-size: 36px;
  }
}
.performer .p-container .card-info {
  width: 100%;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.performer .p-container .card-info .image-container {
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.performer .p-container .card-info .image-container .card-item {
  margin-bottom: 100px;
  width: calc(100% - 30px);
}
@media (max-width: 790px) {
  .performer .p-container .card-info .image-container .card-item {
    width: calc(100% - 10px);
  }
}
@media (max-width: 900px) {
  .performer .p-container .card-info .image-container .card-item {
    width: calc(100% - 10px);
  }
}
@media (max-width: 400px) {
  .performer .p-container .card-info .image-container .card-item {
    width: 100%;
  }
}
.performer .p-container .card-info .image-container .card-item img {
  width: 100%;
}
.performer .p-container .card-info .image-container .card-item h4 {
  padding-top: 40px;
  font-size: 40px;
  font-family: "Anton", sans-serif;
  color: white;
}
.performer .p-container .card-info .image-container .card-item span {
  color: #FF4533;
  font-size: 25px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.about {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .about {
    flex-direction: column;
  }
}
.about .a-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 73%;
}
@media (max-width: 1600px) {
  .about .a-container {
    width: 80%;
  }
}
@media (max-width: 1200px) {
  .about .a-container {
    width: 90%;
  }
}
@media (max-width: 1570px) {
  .about .a-container {
    width: 85%;
  }
}
@media (max-width: 1024px) {
  .about .a-container {
    width: 96%;
  }
}
.about .a-container .about-text {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.about .a-container .about-text h3 {
  font-size: 90px;
  color: white;
  font-family: "Anton", sans-serif;
}
.about .a-container .about-text p {
  font-size: 25px;
  color: #AAB1B7;
  width: 60%;
}
.about .a-container .info {
  height: 100vh;
  padding-top: 80px;
}
@media (max-width: 1024px) {
  .about .a-container .info .row {
    width: 1024;
    display: flex;
    flex-direction: column;
  }
}
.about .a-container .info .row .about-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
.about .a-container .info .row .about-image .back-img {
  position: absolute;
  bottom: -70px;
  left: -70px;
  z-index: -1;
}
.about .a-container .info .row .about-image .back-img img {
  height: 250px;
}
.about .a-container .info .row .about-image img {
  width: 90%;
}
.about .a-container .info .row .right-about {
  padding: 70px 0;
}
.about .a-container .info .row .right-about .about-info h4 {
  color: #FF4533;
  font-size: 40px;
  font-family: "Anton", sans-serif;
}
@media (max-width: 1024px) {
  .about .a-container .info .row .right-about .about-info h4 {
    font-size: 20px;
    width: 100%;
  }
}
.about .a-container .info .row .right-about .about-info p {
  color: #AAB1B7;
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 25px;
  font-family: "Muli", sans-serif;
}
@media (max-width: 1024px) {
  .about .a-container .info .row .right-about .about-info p {
    width: 100%;
    font-size: 15px;
  }
}
.about .a-container .info .row .right-about .about-button {
  display: flex;
  justify-content: flex-start;
}
.about .a-container .info .row .right-about .about-button .button {
  background-color: #FF4533;
  padding: 10px 60px;
  margin-bottom: 0;
  transition: 0.5s;
  border: 1px solid #FF4533;
}
@media (max-width: 1467px) {
  .about .a-container .info .row .right-about .about-button .button {
    padding: 18px 40px;
  }
}
@media (max-width: 1300px) {
  .about .a-container .info .row .right-about .about-button .button {
    padding: 15px 26px;
  }
}
.about .a-container .info .row .right-about .about-button .button:hover {
  background-color: transparent;
  border: 1px solid #FF4533;
}
.about .a-container .info .row .right-about .about-button .button a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  font-family: "Anton", sans-serif;
  text-transform: capitalize;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.program-detail {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/images/program/details_banner.png.webp);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}
.program-detail::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.8) 100%);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.program-detail .p-container {
  width: 73%;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1600px) {
  .program-detail .p-container {
    width: 80%;
  }
}
@media (max-width: 1200px) {
  .program-detail .p-container {
    width: 90%;
  }
}
@media (max-width: 1570px) {
  .program-detail .p-container {
    width: 85%;
  }
}
@media (max-width: 1024px) {
  .program-detail .p-container {
    width: 96%;
  }
}
.program-detail .p-container .program-text h3 {
  font-family: "Anton", sans-serif;
  font-size: 80px;
  font-weight: 400;
  color: #fff;
}
@media (max-width: 1160px) {
  .program-detail .p-container .program-text h3 {
    font-size: 36px;
  }
}
.program-detail .p-container .program-info {
  display: flex;
  flex-wrap: wrap;
}
.program-detail .p-container .program-info .program-detail-wrap::before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  background: rgba(255, 255, 255, 0.2);
  height: 73%;
  width: 1px;
  top: 100px;
  bottom: 0;
}
@media (max-width: 768px) {
  .program-detail .p-container .program-info .program-detail-wrap::before {
    left: 20%;
  }
}
@media (max-width: 768px) {
  .program-detail .p-container .program-info .program-detail-wrap .single-program {
    margin-right: -100px;
    float: right;
    width: 100%;
  }
}
@media (max-width: 612px) {
  .program-detail .p-container .program-info .program-detail-wrap .single-program {
    margin-right: 0px;
    float: right;
    width: 100%;
  }
}
@media (max-width: 1080px) {
  .program-detail .p-container .program-info .program-detail-wrap .single-program {
    width: 80%;
    margin-left: 150px;
  }
}
@media (max-width: 630px) {
  .program-detail .p-container .program-info .program-detail-wrap .single-program {
    margin-right: -50px;
    float: right;
    width: 70%;
  }
}
@media (max-width: 470px) {
  .program-detail .p-container .program-info .program-detail-wrap .single-program {
    width: 50%;
    margin-right: -30px;
  }
}
.program-detail .p-container .program-info .program-detail-wrap .single-program:nth-child(2n+1) {
  margin-left: 560px;
  width: 100%;
}
@media (max-width: 1450px) {
  .program-detail .p-container .program-info .program-detail-wrap .single-program:nth-child(2n+1) {
    margin-left: 500px;
  }
}
@media (max-width: 1300px) {
  .program-detail .p-container .program-info .program-detail-wrap .single-program:nth-child(2n+1) {
    margin-left: 450px;
  }
}
@media (max-width: 1200px) {
  .program-detail .p-container .program-info .program-detail-wrap .single-program:nth-child(2n+1) {
    margin-left: 400px;
  }
}
@media (max-width: 768px) {
  .program-detail .p-container .program-info .program-detail-wrap .single-program:nth-child(2n+1) {
    float: right;
    width: 100%;
  }
}
@media (max-width: 1080px) {
  .program-detail .p-container .program-info .program-detail-wrap .single-program:nth-child(2n+1) {
    margin-left: 380px;
    width: 80%;
  }
}
@media (max-width: 630px) {
  .program-detail .p-container .program-info .program-detail-wrap .single-program:nth-child(2n+1) {
    width: 70%;
    margin-right: -50px;
  }
}
@media (max-width: 470px) {
  .program-detail .p-container .program-info .program-detail-wrap .single-program:nth-child(2n+1) {
    width: 50%;
    margin-right: -30px;
  }
}
.program-detail .p-container .program-info .program-detail-wrap .single-program .single-wrap .program-top {
  float: right;
  text-align: left;
  width: 100%;
}
@media (max-width: 768px) {
  .program-detail .p-container .program-info .program-detail-wrap .single-program .single-wrap .program-top {
    float: right;
    text-align: right;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .program-detail .p-container .program-info .program-detail-wrap .single-program .single-wrap .program-top {
    left: 20%;
  }
}
.program-detail .p-container .program-info .program-detail-wrap .single-program .single-wrap .program-top span {
  color: #FF4533;
  font-size: 40px;
  font-family: "Anton", sans-serif;
  margin-bottom: 8px;
}
@media (max-width: 467px) {
  .program-detail .p-container .program-info .program-detail-wrap .single-program .single-wrap .program-top span {
    font-size: 20px;
  }
}
.program-detail .p-container .program-info .program-detail-wrap .single-program .single-wrap .program-top h3 {
  width: 50%;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  font-family: "Anton", sans-serif;
  padding-bottom: 30px;
}
@media (max-width: 630px) {
  .program-detail .p-container .program-info .program-detail-wrap .single-program .single-wrap .program-top h3 {
    font-size: 20px;
  }
}
@media (max-width: 467px) {
  .program-detail .p-container .program-info .program-detail-wrap .single-program .single-wrap .program-top h3 {
    font-size: 10px;
  }
}
.program-detail .p-container .program-info .program-detail-wrap .single-program .single-wrap .circle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #1EC6B6;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .program-detail .p-container .program-info .program-detail-wrap .single-program .single-wrap .circle {
    left: 20%;
  }
}
.program-detail .p-container .program-info .program-detail-wrap .single-program .single-wrap .program-bottom {
  width: 100%;
}
.program-detail .p-container .program-info .program-detail-wrap .single-program .single-wrap .program-bottom img {
  width: 60%;
}
@media (max-width: 768px) {
  .program-detail .p-container .program-info .program-detail-wrap .single-program .single-wrap .program-bottom img {
    width: 100%;
  }
}
.program-detail .p-container .program-info .program-detail-wrap .single-program .single-wrap .program-bottom h4 {
  width: 50%;
  padding-top: 30px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  font-family: "Anton", sans-serif;
}
@media (max-width: 768px) {
  .program-detail .p-container .program-info .program-detail-wrap .single-program .single-wrap .program-bottom h4 {
    float: right;
    text-align: right;
    width: 100%;
  }
}
@media (max-width: 450px) {
  .program-detail .p-container .program-info .program-detail-wrap .single-program .single-wrap .program-bottom h4 {
    width: 70%;
    font-size: 10px;
  }
}/*# sourceMappingURL=main.css.map */